@import '../styles/styles.scss';

.general__container.contact{
    position: relative;
    background: $darkDeg;
    color: $mainColor;
    padding-top: 3.2rem;
    
    main{
        background-color: $Light;
        color: $mainDark;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        strong{
            @include font-size(32px, 64px);
        }
        h5{
            font-style: italic;
            margin-bottom: 2em;
            color: $Dark;
        }
        .contacts-box{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(300px,1Fr));
            grid-gap: 1em;
        }
    }
    footer{
      
    }
}