@import '../styles/styles.scss';

.container-form{
    color: $mainColor;
    width: 100%;
    margin-bottom: 2em;
    // border: 2px solid blue;

    form{
        border: 2px solid $mainColor;
        border-radius: 0.5em;
        background-color: $Dark;
        max-width: calc(600px - 3em);
        
        .form-item{
            margin: 0.5em 1em;
    
            label,
            input{
                @include font-size(13px, 21px);
            }
            input{
                width: 100%;
            }
            .error{
                margin: 0;
                @include font-size(12px, 18px);
                font-style: italic;
                color: red;
            }
            .inputError {
                border:1px solid red;
            }
            textarea{
                width: 100%;
                min-height: 5.1em;
            }
        }
        
        .checkbox{
            margin: 1em;

            h3{
                @include font-size(16px, 28px);
            }
            .checkbox-item{
                display: none;
            }
            label{
                @include font-size(14px, 22px);
                margin-bottom: 0.3em;
                cursor: pointer;
                margin-right: 1em;
                display: inline-flex;
              
                span{
                    background-color: $Light;
                    border: 1px solid $mainColor;
                    border-radius: 3px;
                    color: transparent;
                    margin-right: 0.5em;
                    height: 1em;
                }
            }
            .checkbox-item:checked + label{
                span{
                    color: $mainColor;
                    background-color: transparent;
                    border: transparent;
                }
            }
            
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            margin-left: .3em;
            margin-right: 1em;
        }
             
    }
}
