@import '../styles/styles.scss';

.container-data{
    background-color: $Dark;
    color: $mainColor;
    width: 100%;
    margin-bottom: 2em;
    border: 2px solid $mainColor;
    border-radius: 0.5em;
    background-color: $Dark;
    max-width: calc(600px - 3em);

    .box{
        margin: 0;
        margin-bottom: 1em;
        display: flex;
        padding-top: 1em;

        .text{
            margin-right: 1em;

            h4, p{
                margin: 0;
            }
            h4{
                font-weight: 400;
            }
        }
    }
    
}