@import '../styles/styles.scss';

form{
    border: 2px solid $mainColor;
    border-radius: 0.5em;

    .form-item{
        margin: 1em;
        label,
        input{
            @include font-size(13px, 21px);
        }
        input{
            margin-bottom: 0.5em;
        }
        .error{
            @include font-size(10px, 18px);
            font-style: italic;
            color: red;
        }
        .inputError {
            border:1px solid red;
        }
    }
    .btn{
        margin-top: 0;
        margin-left: 1em;
        margin-bottom: 1em;
    }
         
}